@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500&family=Roboto:wght@400;500;700;900&display=swap');

:root{
    --orange: #E17C23;
    --lightbrown: #774F46;
    --darkbrown: #402E32;
    --niceredd: hsl(0, 70%, 50%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    list-style: none;
}

html{
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
}

body{
    height: 100vh;
    background-color: #fff;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
}

header .nav-bar.nav-link{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.logo{
    cursor: pointer;
    color: var(--orange);
    font-size: 1.5rem;
}

.nav-bar li{
    display: inline-block;
    padding: 0.5rem 1rem;
}

.nav-bar li a.nav-link{
    color: var(--orange);
    position: relative;
}

.nav-bar li a.nav-link::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: var(--orange);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-in;
}

.nav-bar li a.nav-link:hover:after{
    transform: scaleX(1);
    transform-origin: left;
}

.icons i:hover, .logo:hover{
    color: var(--lightbrown);
}

a.button {
    color: #fff;
    border: 1px solid var(--niceredd);
    border-radius: 0.5rem;
    background: var(--niceredd);
    padding: 1rem;

  }

  a.button:hover{
      color: var(--niceredd);
      background-color: #fff
      ;
  }

  header .icons #menu{
      display: none;
  }

  header .icons i{
    cursor: pointer;
    margin-left: .5rem;
    text-align: center;
    font-size: 2rem;
    color: var(--orange);
  }

  .home video{
      z-index: -1;
      position: absolute;
      left: 0;
      width: 100%;
      height: 80%;
      object-fit: cover;
  }

  .content{
      display: flex;
      height: 65vh;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }

  .content h1{
      font-size: 3.5rem;
      color: var(--orange);
      font-family: 'Roboto', sans-serif;
      text-transform: uppercase;
  }

  .content h1 span{
      text-decoration: underline;
      color: var(--niceredd);
      text-transform: uppercase;
      font-style: oblique;
      }

  .slider-nav{
      z-index: 1;
      position: relative;
      display: flex;
      justify-content: center;
      transform: translateY(80px);
      margin-bottom: 12px;
      box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
      transition: 0.3s ease;
  }

  .slider-nav .nav-btn{
      width: 12px;
      height: 12px;
      background: #fff;
      border-radius: 50%;
      cursor: pointer;
      margin: 0.2rem;
  }

  .slider-nav .nav-btn.active{
      background: var(--orange);
  }

  .slider-nav .nav-btn:hover{
    transform: scale(1.2);
  }

  .video-slide{
      position: absolute;
      width: 100%;
      clip-path: circle(0% at 50% 50%);
  }

  .video-slide.active{
      clip-path: circle(150% at 0 50%);
      transition: 2s ease;
      transition-property: clip-path;
  }

  @media (max-width: 768px){
      header .icons #menu{
          display: inline-block;
      }

      header .nav-bar{
          position: absolute;
          top: 7%;
          left: 0;
          right: 0;
          background-color: #fff;
          border-top: .1rem solid rgba(0,0,0, .2);
          border-bottom: .1rem solid rgba(0,0,0, .2);
          padding: 1rem;
          clip-path:polygon(0 0, 100% 0, 100% 0, 0 0)
      }
      header .nav-bar li{
        display: block;
        margin: 1rem;
        padding: 1.5rem;
        font-size: 2rem;
        background: #eee;
        border-radius: 1rem;
    }
    header a.button{
        color: var(--orange);
        background-color: #eee;
        border: none;
    }
  }
