@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&family=Oswald:wght@200;400;500;600;700&family=Roboto:wght@400;500;700;900&display=swap');

:root{
    --orange: #CA4100;
    --niceredd: #d92626;
    --green: #008400;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    list-style: none;
}

html{
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
}

body{
    height: 100vh;
    background-color: white;
}

html::-webkit-scrollbar{
    width: 1rem;
}

html::-webkit-scrollbar-track{
    width: #eee;
}

html::-webkit-scrollbar-thumb{
    background-color: var(--niceredd);
    border-radius: 1rem;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    background-color: #fff;
    z-index: 1000;
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}

header .nav-bar.nav-link{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.logo{
    cursor: pointer;
    color: var(--orange);
    font-size: 1.5rem;
}

.nav-bar li{
    display: inline-block;
    padding: 0.5rem 1rem;
}

.nav-bar li a.nav-link{
    color: var(--orange);
    position: relative;
}

.nav-bar li a.nav-link::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: var(--green);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-in;
}

.nav-bar li a.nav-link:hover:after{
    transform: scaleX(1);
    transform-origin: left;
}

.icons i:hover, .logo:hover{
    color: var(--green);
}

a.button {
    color: #fff;
    border: 1px solid var(--niceredd);
    border-radius: 0.5rem;
    background: var(--niceredd);
    padding: 1rem;

  }

  a.button:hover{
      color: var(--green);
      background-color: #fff
      ;
  }

  header .icons #menu{
      display: none;
  }

  header .icons i{
    cursor: pointer;
    margin-left: .5rem;
    text-align: center;
    font-size: 2rem;
    color: var(--orange);
  }

  .home video{
      z-index: -1;
      position: absolute;
      left: 0;
      width: 100%;
      height: 80%;
      object-fit: cover;
      transition: all 1.2s linear;
  }

.video1{
      opacity: 1;
  }

.video2{
    opacity: 0;
}

.video3{
    opacity: 0;
}

.video4{
    opacity: 0;
}

  .content{
      display: flex;
      height: 65vh;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }

  .content h1{
      font-size: 3.5rem;
      color: var(--orange);
      font-family: 'Roboto', sans-serif;
      text-transform: uppercase;
  }

  .content h1 span a{
      text-decoration: underline;
      color: var(--niceredd);
      text-transform: uppercase;
      font-style: oblique;
      }

  .slider-nav{
      z-index: 1;
      position: relative;
      display: flex;
      justify-content: center;
      transform: translateY(80px);
      margin-bottom: 12px;
      box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
      transition: 0.3s ease;
  }

  .about .content{
      height: 55vh;
      background: repeating-conic-gradient(at 111% -11%,transparent, white 0.02%, #bbbbbb 0.52%, var(--niceredd) 0.54%, var(--orange) 1%, transparent 1.02%, transparent 1.7%),
      radial-gradient(at 100% 0%, var(--niceredd) 0%, var(--green) 100%);
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .about h1{
      font-family: 'Roboto', sans-serif;
      font-size: 4rem;
      font-weight: 900;
      color: #fff;
      text-transform: uppercase;
      text-decoration: overline;
      -webkit-text-stroke: 1px black;
      text-align: center;
  }

  .about p{
    font-size: 2rem;
    display: block;
    padding: 5px 10px;
    margin: 20px 4.5px;
    text-transform: none;
    text-align: center;
    color: #fff;
    font-family: 'Monsterrat', sans-serif;
    font-weight: 300;
    -webkit-text-stroke: 1px black;
    overflow: hidden;
  }

  .about a{
      padding: 1rem;
      background: transparent;
      border-radius: 0.5rem;
      font-size: 1.5rem;
      border: 3px solid #fff;
      color: #fff;
      transition: background-color 0.5s;
  }

  .about a:hover{
      background-color: #fff;
      color: var(--green);
  }

  .more-info .container{
      display: grid;
      grid-template-columns: repeat(2, minmax(10rem, 60rem));
      grid-template-rows: repeat(2, minmax(5rem, 25rem));
  }

  .more-info .container .left-img{
    background: url(/media/Pizza1.png);
    height: 100%;
    width: 100%;
    opacity: 0.7;
  }

  .more-info .container .right-img{
    background: url(/media/Pizza2.png);
    height: 100%;
    width: 100%;
    opacity: 0.7;
  }

  .more-info .container .right-item{
    display: flex;
    align-items: center;
    padding: 1.2rem;
    width: 100%;
    height: 100%;
    /* background: repeating-linear-gradient(-45deg,var(--niceredd) 0% 5%,transparent 5% 10%); */
    background: url(/media/black-texture-background.jpg);
    color: #fff;
  }

  .more-info .container .left-item{
    display: flex;
    align-items: center;
    padding: 1.2rem;
    width: 100%;
    height: 100%;
    /* background: repeating-linear-gradient(45deg,var(--green) 0% 5%,transparent 5% 10%); */
    background: url(/media/red-texture-background.jpg);
    color: #fff;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    border-radius: 50%;
    background: #fff;
    color: var(--niceredd);
    position: relative;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    overflow: hidden;
    z-index: 0;
}

.btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 10% 25%, 0 100%);
    background: var(--green);
    transition: .3s cubic-bezier(.38, 1.15, .7, 1.12);
    z-index: -1;
}

.btn:hover::before{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.btn:hover{
    color: #fff;
}

footer{
    background-color: var(--orange);
}

.footer .box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer .box-container .box{
    margin: 1rem 5rem;
}

.footer .box-container .box i{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 4rem;
    font-size: 2rem;
    background-color: #fff;
    color: var(--niceredd);
    text-align: center;
    padding: 0.5rem;
}

.footer .box-container .box h3{
    font-size: 1rem;
    margin: 0.2rem;
    color: #fff;
    text-decoration: underline;
}

.footer .box-container .box p{
    font-size: 0.8rem;
    color: #fff;
    line-height: 1.5;
} 

.footer .credit span{
    font-size: 0.8rem;
}

.footer .credit span a{
    text-decoration: underline;
    color: #fff;
}

.footer .socials{
    text-align: center;
}

.footer .credit{
    display: block;
    padding: 2rem 1rem;
    font-size: 1rem;
    border-top: 1px solid #eee;
    text-align: center;
    color: #fff;
}

  @media (max-width: 768px){
      header .icons #menu{
          display: inline-block;
      }

      header .nav-bar{
          position: absolute;
          top: 100%;
          left: 0;
          right: 0;
          background-color: #fff;
          border-top: .1rem solid rgba(0,0,0, .2);
          border-bottom: .1rem solid rgba(0,0,0, .2);
          padding: 1rem;
          clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
      }
      header .nav-bar li{
        display: block;
        margin: 1rem;
        padding: 1.5rem;
        font-size: 2rem;
        background: #eee;
        border-radius: 1rem;
    }
    header a.button{
        color: var(--orange);
        background-color: #eee;
        border: none;
    }
  }

  @media (max-width: 492px){
      .home .content h1{
          font-size: 2rem;
    }  
      .about .content h1{
          font-size: 2rem;
          margin: 1rem;
    }
      .about .content p{
        display: none;
    }
    .about .content a{
        font-size: 1rem;
    }
    .more-info .container{
        display: flex;
        flex-direction: column;
    }
}

@media(max-width: 838px){
    .more-info .container img{
        width: 15vw;
    }
    .footer .box-container{
        flex-direction: column;
    }
}
